*{
    font-size: 25px;
    font-family: Verdana;
}
body {
    background-color: #002b36;
}

form{
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.titulo{

    background-color: #4bbeb5;
}
.campo{
    margin: 30px;
    border-radius: 10px;
    background-color: #ccc;
}

.titulo{
    border-radius: 25px;
    color: #fff;
    text-align: center;
    background-color: #4bbeb5;
}

.login{
    
    border-radius: 10px;
    background-color: #2aa198;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.boton{
    padding: 10px;
    background-color: #b58900;
    border-radius: 25px;
    border-color: #b58900;
    color: #fff;
}

